<div id="container">
  <!--Left Part-->
  <div id="column-left">
    <!--Account Links Start-->
    <div class="box">
      <div class="box-heading">Account</div>
      <div class="box-content">
        <ul class="list-item">
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register</a></li>
          <li><a href="#">Forgotten Password</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Wish List</a></li>
          <li><a href="#">Order History</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">Transactions</a></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
      </div>
    </div>
    <!--Account Links End-->
    <!--Latest Product Start-->
    <div class="box">
      <div class="box-heading">Latest</div>
      <div class="box-content">
        <div class="box-product">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="../../assets/image/product/sony_vaio_1-45x45.jpg" alt="Friendly Jewelry" /></a></div>
                  <div class="name"><a href="product.html">Friendly Jewelry</a></div>
                  <div class="price">$1,177.00</div>
                  <div class="clear"></div>
                </div>
              </li>
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="../../assets/image/product/apple_cinema_30-45x45.jpg" alt="Apple Cinema 30&quot;" /></a></div>
                  <div class="name"><a href="product.html">Apple Cinema 30&quot;</a></div>
                  <div class="price"><span class="price-old">$119.50</span> <span class="price-new">$107.75</span></div>
                  <div class="clear"></div>
                </div>
              </li>
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="../../assets/image/product/ipod_classic_1-45x45.jpg" alt="iPad Classic" /></a></div>
                  <div class="name"><a href="product.html">iPad Classic</a></div>
                  <div class="price">$119.50</div>
                  <div class="clear"></div>
                </div>
              </li>
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="../../assets/image/product/lotto-sports-shoes-white-45x45.jpg" alt="Lotto Sports Shoes" /></a></div>
                  <div class="name"><a href="product.html">Lotto Sports Shoes</a></div>
                  <div class="price">$589.50</div>
                  <div class="clear"></div>
                </div>
              </li>
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="../../assets/image/product/Jeep-Casual-Shoes-45x45.jpg" alt="Jeep-Casual-Shoes" /></a></div>
                  <div class="name"><a href="product.html">Jeep-Casual-Shoes</a></div>
                  <div class="price">$131.25</div>
                  <div class="clear"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--Latest Product End-->
  </div>
  <!--Left End-->
  <!--Middle Part Start-->
  <div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"> <a (click)="redirectTo('/')">Home</a> » <a (click)="redirectTo('/')">Account</a> » <a>Register</a> </div>
    <!--Breadcrumb Part End-->
    <h1>Register Account</h1>
    <form enctype="multipart/form-data" method="post" action="">
      <h2>Your Personal Details</h2>
      <div class="content">
        <table class="form">
          <tbody>
          <tr>
            <td><span class="required">*</span> First Name:</td>
            <td><input class="large-field" type="text" value="" name="firstname" [(ngModel)]="user.firstName"></td>
          </tr>
          <tr>
            <td><span class="required">*</span> Last Name:</td>
            <td><input class="large-field" type="text" [(ngModel)]="user.lastName" name="lastname"></td>
          </tr>
          <tr (keypress)="checkEmail()" (keyup)="checkEmail()" (blur)="checkEmail()" >
            <td><span class="required">*</span> E-Mail:</td>
            <td><input class="large-field"  #email="ngModel" email type="email" [(ngModel)]="user.email" value="" name="email"></td>
          </tr>


          </tbody>
        </table>
      </div>
      <h2>Your Password</h2>
      <div class="content">
        <table class="form">
          <tbody>
          <tr>
            <td><span class="required">*</span> Password:</td>
            <td><input class="large-field" [(ngModel)]="user.password" type="password" value="" name="password"></td>
          </tr>
          <tr>
            <td><span class="required">*</span> Password Confirm:</td>
            <td><input class="large-field" type="password" [(ngModel)]="passwordC" value="" name="confirm"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="buttons">
        <div class="left">
       <button class="button" (click)="register()" >Continue</button>
          <!--[disabled]="canSubmit() || ((email.value !== '')&& (email.untouched) &&  email.invalid)"-->
        </div>
      </div>
    </form>
  </div>
  <!--Middle Part End-->
  <div class="clear"></div>
</div>
